.wrapper {
  display: flex;

  .container {
    margin: auto;
    border: 2px solid blue;

    section {
      display: flex;
      flex-direction: column;

      &.a {
        background-color: red;
      }

      &.b {
        background-color: green;
      }
    }
  }
}
