<button (click)="slot = slot == 1 ? 0 : 1">Transition to slot {{slot == 1 ? 0 : 1}}</button>
<br>
<br>
<div class="wrapper">
  <div class="container">
    <ngx-transition-content [slot]="slot">
      <ng-template ngx-transition-content-page>
        <section class="a">
          <p>Content1</p>
          <p>Content1</p>
          <p>Content1</p>
        </section>
      </ng-template>
      <ng-template ngx-transition-content-page>
        <section class="b">
          <p>Content2Content2Content2Content2</p>
          <p>Content2Content2Content2Content2</p>
          <p>Content2Content2Content2Content2</p>
          <p>Content2Content2Content2Content2</p>
          <p>Content2Content2Content2Content2</p>
          <p>Content2Content2Content2Content2</p>
        </section>
      </ng-template>
    </ngx-transition-content>
  </div>
</div>